#top{
    text-align: center;
    background-color: darkblue;
    padding: 15px;
}

.top-page{
    color: white;
    padding-left: 25px;
    font-size: large;
}

body{
    margin: 0;
}

#table-heading{
    text-align: center;
    padding-top: 10;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.name{
    text-align: center;
}

td{
    padding: 10 ;
}